@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "../../src/vendor/bootswatch/sketchy/variables";
@import "../../src/vendor/bootstrap-5.3.8/scss/bootstrap.scss";
@import "../../src/vendor/bootswatch/sketchy/bootswatch";